/* _fonts.scss */

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $stretch: null, $display: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
        eot: "?",
        svg: "#" + str-replace($name, " ", "_"),
    );

    $formats: (
        otf: "opentype",
        ttf: "truetype",
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        src: $src;
        font-weight: $weight;
        font-style: $style;
        font-stretch: $stretch;
        font-display: $display;
    }
}

// =============================================================================
// Font Face Rendered
// =============================================================================

// Roboto
@include font-face("SF-Text", "../font/SFProText-Light", 300, normal, normal, swap);
@include font-face("SF-Text", "../font/SFProText-LightItalic", 300, italic, normal, swap);
@include font-face("SF-Text", "../font/SFProText-Regular", 400, normal, normal, swap);
@include font-face("SF-Text", "../font/SFProText-RegularItalic", 400, italic, normal, swap);
@include font-face("SF-Text", "../font/SFProText-Medium", 500, normal, normal, swap);
@include font-face("SF-Text", "../font/SFProText-MediumItalic", 500, italic, normal, swap);
@include font-face("SF-Text", "../font/SFProText-Semibold", 600, normal, normal, swap);
@include font-face("SF-Text", "../font/SFProText-SemiboldItalic", 600, italic, normal, swap);
@include font-face("SF-Text", "../font/SFProText-Bold", 700, normal, normal, swap);
@include font-face("SF-Text", "../font/SFProText-BoldItalic", 700, italic, normal, swap);
@include font-face("SF-Text", "../font/SFProText-Heavy", 900, normal, normal, swap);
@include font-face("SF-Text", "../font/SFProText-HeavyItalic", 900, italic, normal, swap);
